              <div class="userBird">
                <%= userBirds[x].birdName %>
              </div>
              <img width="158" height="150" class="thumbnailImage" src="<%= userBirds[x].birdImage %>">
