
<% include ./partials/header %>

<div class="container">

    <% if(!locals.user) { %>
        <h1 id="hero">What the Duck</h1>
    <% } else { %>
        <div id="welcome">
        <p>Welcome <%= user.username %></p>
    </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
          Add a bird
        </button>
        <div>
            <br>
        </div>

        <div class="box">
          <h3>My List of Birds</h3>


        <div id="userBirdList">
            <%for(var x=0;x<userBirds.length;x++){%>
              <% var bird= userBirds[x] %>
              <% include ./partials/userBird %>
            <% } %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Birds</h4>
              </div>
              <div class="modal-body">
                    <div class="row">

                    <%for(var i=0;i<birds.length;i++){%>

                      <div class="col-xs-6 col-md-4">
                        <div class="thumbnail" data-birdId= <%= birds[i]._id %>>
                          <img class="thumbnailImage" src="<%= birds[i].images[0].url %>">
                          <div class="caption">
                            <h4><%= birds[i].name %></h4>
                              <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ADD</button>
                                <button type="button" class="btn btn-default">ALT VIEW</button>
                              </div>
                          </div>
                        </div>
                      </div>

                    <% } %>

                    </div>

              </div>
            </div>
          </div>
        </div>

    <% } %>

</div>

<script>
    $(document).ready(function(){
        $('.thumbnail').click(function(){
            var title = $(this).text();
            var image = $(this).children('img').attr('src');
            $.ajax({
                url: '/newSighting',
                // url: 'http://localhost:3000/newSighting',
                method: "post",
                data: {title: title, birdImage: image}
            }).done(function(newBird) {
              $("#userBirdList").prepend(newBird);
            });
        });
    });
</script>


<% include ./partials/footer %>


