<% include ./partials/header %>

<div class="container">
  <form method="post" action="/login">
    <input class="textboxlogin" type='text', name="username", placeholder='Enter Username'>
    <input class="textboxlogin" type='password', name="password", placeholder='Password'>
    <input class="btn btn-default btn-lg" type="submit">
    <a href="/">CANCEL</a>
  </form>
</div>

<% include ./partials/footer %>
