<% include ./partials/header %>

<div class="container">

    <div class="row">

    <div class= "register text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-s-offset-3 col-xs-6 col-xs-offset-3">
    	<p class="s-text">Sign up</p>
        <form method="post" action="/register">
            <input class="textboxlogin" type='text', name="firstname", placeholder='First Name'>
            <input class="textboxlogin" type='text', name="lastname", placeholder='Last Name'>
            <input class="textboxlogin" type='text' name="username" placeholder="Email" value="<%= username %>">
            <input class="textboxlogin" type='password' name="password" placeholder='Password'>
            <input type="submit" class="textboxlogin btn btn-info btn-sm submit">
        </form>
        <p><%= error %></p>
    </div>
    </div>

</div>

<% include ./partials/footer %>
